<!DOCTYPE html>
<html color-mode="user">
    <head>
        <title>PluralKit Co-front/Co-con Relationship Viewer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:type" content="website">
        <meta property="og:title" content="PluralKit Co-front/Co-con Relationship Viewer">
        <meta property="og:url" content="https://theapplefreak.github.io/tools/pk-relationship-viewer">
        <meta property="og:image" content="">
        <meta property="og:description" content="A little thing to help understand the relationship between members in a system who co-front with others, using PluralKit switch data.">
    </head>
    <body>
        <header>
            <h1>PluralKit Co-front/Co-con Relationship Viewer</h1>
        </header>
        <main>
            <form id="mainForm">
                <label for="pkToken">PluralKit user token</label>
                <input type="text" name="pkToken" id="pkToken" minlength="64" maxlength="64" placeholder='You can get this by sending "pk;token" in a server' required>
                
                <div>
                    <label for="getAllSwitches">Process all switches on record?</label>
                    <input type="checkbox" name="getAllSwitches" id="getAllSwitches" checked>
                </div>
                
                <div id="switchCountContainer" class="hidden">
                    <label for="switchCount">How many switches should this analyze?</label>
                    <input type="number" name="switchCount" id="switchCount" min="1" value="100">
                </div>

                <button type="submit" id="submit" aria-busy="false">Fetch system data</button>
            </form>
            
            <div class="results-header">
                <h3>Relationships</h3>
                <div>
                    <button id="expand">Expand all</button>
                    <button id="collapse">Collapse all</button>
                </div>
            </div>
            
            <div id="members"></div>
        </main>
    </body>
</html>