:root {
    --width-card: 100%;
    --width-card-medium: 100%;
    --width-card-wide: 100%;
}

#pkToken, select, textarea {
    width: 100%;
    box-sizing: border-box;
}

form {
    box-sizing: border-box;
}

button {
    padding: 0.5rem 1rem;
}

.hidden {
    display: none;
}

.results-header {
    display: inline-block;
}

.results-header h3 {
    display: inline-block;
    padding-right: 2rem;
}

.results-header div {
    display: inline-block;
}